body {
    .section {
        height: 100vh;
    }

    .section-1 {
        background-image: url("../images/humanFlight/01.jpg");
        background-position: center;
        background-size: cover;

        .container {
            height: 100%;
            padding-bottom: 130px;

            .navbar {
                .logo {
                    width: 240px;
                }
                font-size: 12px;
            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;

                h1 {
                    font-size: 120px;
                    font-weight: 600;
                    margin-bottom: 30px;
                }

                h2 {
                    font-size: 30px;
                }

                .arrow {
                    margin-top: 50px;
                    img {
                        width: 130px;
                    }
                }
            }
        }
    }

    .section-2 {
        background-image: url("../images/humanFlight/02.jpg");
        background-position: center;
        background-size: cover;

        .container-fluid {
            display: flex;
            justify-content: end;
            padding-top: 280px;
            .content {
                color: #fff;
                padding-right: 310px;
                h2 {
                    font-size: 60px;
                }

                .btn {
                    width: 173px;
                    height: 60px;
                    margin-top: 35px;
                }
            }
        }
    }

    .section-3 {
        background-image: url("../images/humanFlight/03.jpg");
        background-position: center;
        background-size: cover;

        .container-fluid {
            display: flex;
            justify-content: start;
            padding-top: 300px;
            .content {
                padding-left: 100px;
                color: #fff;

                h2 {
                    font-size: 60px;
                }

                .btn {
                    width: 173px;
                    height: 60px;
                    margin-top: 35px;
                }
            }
        }
    }

    .section-4 {
        background-image: url("../images/humanFlight/04.jpg");
        background-position: center;
        background-size: cover;

        .container-fluid {
            display: flex;
            justify-content: end;
            padding-top: 280px;
            .content {
                color: #fff;
                padding-right: 460px;
                h2 {
                    font-size: 60px;
                }

                .btn {
                    width: 173px;
                    height: 60px;
                    margin-top: 35px;
                }
            }
        }
    }

    .section-5 {
        background-image: url("../images/humanFlight/05.jpg");
        background-position: center;
        background-size: cover;

        .container-fluid {
            display: flex;
            justify-content: start;
            padding-top: 300px;
            .content {
                padding-left: 100px;
                color: #fff;

                h2 {
                    font-size: 60px;
                }

                .btn {
                    width: 173px;
                    height: 60px;
                    margin-top: 35px;
                }
            }
        }
    }
}